In [43]:
from course_loader.loader_tools import CourseLoader
import datetime as dt

In [70]:
##Tickers

def plus_name(tickers, name='USD'):
    new_tickers = []
    for ticker in tickers:
        new_tickers.append(ticker + '-' + name)
    return new_tickers

crypto_names = ['BTC', 'ETH', 'USDT', 'LTC', 'XRP', 'DASH', 'SC']
crypto_tikers = plus_name(crypto_names)

market_index_tickers =['^GSPC', '^DJI'] # ^DJI - Index Dow Jones.S&P500 [https://ffin.ru/market/directory/indexes/]

In [71]:
# Analysis band

start_band = dt.datetime(2016, 1, 1)
end_band = dt.datetime(2022, 1, 1)

In [72]:
cryptos = CourseLoader(start_band, end_band, crypto_tikers)
markets = CourseLoader(start_band, end_band, market_index_tickers)

In [73]:
#Table dict for every crypto
cryptos.table_for_every_tickers[crypto_tikers[0]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-01-01,436.246002,427.515015,430.721008,434.334015,36278900,434.334015
2016-01-02,436.062012,431.869995,434.622009,433.437988,30096600,433.437988
2016-01-03,433.743011,424.705994,433.578003,430.010986,39633800,430.010986
2016-01-04,434.516998,429.084015,430.061005,433.091003,38477500,433.091003
2016-01-05,434.182007,429.675995,433.069000,431.959991,34522600,431.959991
...,...,...,...,...,...,...
2021-12-29,48119.742188,46201.496094,47623.871094,46444.710938,30049226299,46444.710938
2021-12-30,47879.964844,46060.312500,46490.605469,47178.125000,26686491018,47178.125000
2021-12-31,48472.527344,45819.953125,47169.371094,46306.445312,36974172400,46306.445312
2022-01-01,47827.312500,46288.484375,46311.746094,47686.812500,24582667004,47686.812500
2022-01-02,47881.406250,46856.937500,47680.925781,47345.218750,27951569547,47345.218750

In [74]:
# Crypto combined table whith close price
cryptos.make_combined_table(metric='Close')

,BTC-USD,ETH-USD,USDT-USD,LTC-USD,XRP-USD,DASH-USD,SC-USD
Date,,,,,,,
2016-01-01,434.334015,NaN,NaN,3.508980,NaN,NaN,NaN
2016-01-02,433.437988,NaN,NaN,3.502160,NaN,NaN,NaN
2016-01-03,430.010986,NaN,NaN,3.483070,NaN,NaN,NaN
2016-01-04,433.091003,NaN,NaN,3.495390,NaN,NaN,NaN
2016-01-05,431.959991,NaN,NaN,3.469670,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2021-12-29,46444.710938,3628.531738,1.000294,145.512619,0.816714,133.330338,0.015200
2021-12-30,47178.125000,3713.852051,1.001036,148.286011,0.839649,133.442505,0.015343
2021-12-31,46306.445312,3682.632812,1.000189,146.514740,0.831163,134.007797,0.015182
2022-01-01,47686.812500,3769.697021,1.000500,150.697433,0.849472,137.953934,0.015558
2022-01-02,47345.218750,3829.564941,1.000460,151.255493,0.859118,142.062637,0.016172

In [76]:
# Index combined table whith close price
markets.make_combined_table(metric='Close')

In [78]:
len(markets.combined_table) < len(cryptos.combined_table) 
#Рынки н.combined_tableе работают в выходные, а крипта торгуется
# Торговля может зависеть от времени дня
#https://www.rbc.ru/crypto/news/606eada99a7947fcf0307135

True